@model casekeener.Models.UsuarioModel
@{
    Layout = "~/Views/_LayoutNoNav.cshtml";
}

<div class="form-container-wrapper">
    <div class="form-container">
        <h1>Cadastro</h1>
        <hr />

        <form asp-action="Cadastro" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control form-control-custom" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control form-control-custom" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control form-control-custom" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-custom btn-block">Cadastrar</button>
            <a asp-action="Login" class="btn btn-outline-secondary btn-custom btn-block mt-2">Voltar</a>
        </form>
    </div>
</div>
